<div class="title instrument-title">Выбрать инструмент:</div>
<div class="instruments scroll">
    <ul>
        {{#each instrumental_list}}
            <li {{#if active}}class="active"{{/if}} data-name="{{name}}"><a href="#">{{name}}</a></li>
        {{/each}}
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
        <li><a href="#">Заглушка</a></li>
    </ul>
</div>
<div class="instruments-buttons">
    <button class="btn green create">Создать</button>
    <button class="btn red" disabled>Удалить</button>
</div>


